.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

.side {
  width: 20%;
}
.dropdown-toggle::after {
  border: none !important;
  content: "" !important;
}

.picture {
  width: 40px;
  height: 40px;
}

.content {
  max-width: 488px;
}